body {
    min-height: 100vh;
}

.gradient {
    background-image: linear-gradient(
        83.2deg,
        rgba(150, 93, 233, 1) 10.8%,
        rgba(99, 88, 238, 1) 94.3%
    );
    width: 100%;
    min-height: 150px;
    position: relative;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.gradient #intro {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}

.image-scroll {
    width: 100%;
    height: 400px;
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}

.image-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
